* {
    background-color: darkgrey;
}
.top-nav {
border: solid;
display: flex;
justify-content: space-around;
font-size: x-large;
}
.img1 {
float: right;
border-radius: 50%;
}
.main {
padding: 0 1pc 10pc 0pc;
margin: 0 1pc 10pc 0pc;
text-align: left;


}
.bio{
float: left;
font-size: medium;
}
p {
overflow: hidden;
}

iframe {
    height: 65px;
    width: 120px;
    float: right;
}